h1 {
    margin: 0;
    padding: 0;
}

html,body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

.popupBg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank {
    flex-basis: 270px;
    flex-shrink: 1;
    height: 100%;
}

.popup {
    flex-basis: 500px;
    flex-shrink: 0;
    height: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-right: 5px;
    margin-left: 10px;
}

.popupTop {
    border-bottom: 0.1px solid #dad6d6;
    background: rgb(255, 255, 255);
    height: 7%;
    display: flex;
    align-items: center;
    flex: 0.08;
    border-radius: 10px;
}

.popupName {
    flex: 1;
    text-align: center;
    font-size: 4vh;
    margin-left: 7%;
}

.closeButton {
    cursor: pointer;
}

.popupInner {
    overflow: auto;
    flex: 0.92;
    background-color: #ffffff;
    border-radius: 10px;
}

.tempData {
    padding-bottom: 200px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}