.container {
   
}
.TextBox {
    
}
.inputList {
   
}
.commentList {

}
.List{
    flex-basis: 420px;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 10px;
}
.inputBox {
    margin-left: 10px;
    margin-right: 10px;
}
.inputText {
    
    width: 100%;
}
.inputButton {
    float: right;
    background-color: rgba(225,225,225,0);
    border : none;
}
.commentText {
    margin-left: 10px;
    margin-right: 10px;   
    border-bottom: 1px;
    width: 100%;
}

.commentBottom{
    padding-bottom: 30px;
}